:host {    
    --primary-blue: #0173B0;
    --primary-green: #81C32E;
    --primary-white: #FFFFFF;
    --primary-black: #000000;

    --background: #F0F0F0;    
    --input-border: #D2D2D2;
    --text-gray: #A9A9A9;
    --error: #df2d2d;
}